<!DOCTYPE HTML>
<html>
  <head>
    <title>Alarm Clock</title>
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/alarm.css"/>
    <script src="script/lib/jquery.min.js"></script>
    <script src="script/lib/bootstrap.min.js"></script>
    <script src="script/alarm.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Alarm Clock</h1>
        <p class="lead">This is a simple application to help my wife and I get up in the morning. If you would
        like to see the source code, click <a href="https://github.com/cincospenguinos/AlarmClock" target="_blank">here</a>.</p>
      </div>
    </div>

    <!--Modify/Remove Alarms-->
    <div class="container" id="alarm_space">
      <h2>Alarms</h2>
      <div id="list_alert_space">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Alarm Name</th>
                <th>Date Started</th>
                <th>Time</th>
                <th>Repeats</th>
                <th>Toggle</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id="alarm_table">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Add an alarm-->
    <div class="container">
      <h2>Add Alarm</h2>
      <div class="col-sm-12" id="form_alert_space"></div>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="form_alarm_name" class="col-sm-2 control-label">Alarm name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="form_alarm_name">
          </div>
        </div>
        <div class="form-group">
          <label for="form_alarm_time" class="col-sm-2 control-label">Time</label>
          <div class="col-sm-10">
            <input type="time" class="form-control" id="form_alarm_time">
          </div>
        </div>
        <div class="form-group">
          <label for="form_alarm_time" class="col-sm-2 control-label">Repeat</label>
          <div class="col-sm-10">
            <div class="btn-group" data-toggle="buttons" id="form_alarm_repeat">
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off"> Sunday
              </label>
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off"> Monday
              </label>
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off"> Tuesday
              </label>
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off"> Wednesday
              </label>
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off"> Thursday
              </label>
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off"> Friday
              </label>
              <label class="btn btn-default">
                <input type="checkbox" autocomplete="off"> Saturday
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-success" id="add_alarm">Add Alarm</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>