<!DOCTYPE HTML>
<html>
  <head>
    <title>Alarm Clock</title>
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/bootstrap-theme.min.css"/>
    <script src="script/lib/jquery.min.js"></script>
    <script src="script/lib/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Alarm Clock</h1>
        <p class="lead">This is a simple application to help my wife and I get up in the morning. If you would
        like to see the source code, click <a href="">here</a>.</p>
      </div>
    </div>

  </body>
</html>