<!DOCTYPE HTML>
<html>
  <head>
    <title>Alarm Clock</title>
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/alarm.css"/>
    <script src="script/lib/jquery.min.js"></script>
    <script src="script/lib/bootstrap.min.js"></script>
    <script src="script/alarm.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Alarm Clock</h1>
        <p class="lead">This is a simple application to help my wife and I get up in the morning. If you would
        like to see the source code, click <a href="https://github.com/cincospenguinos/AlarmClock">here</a>.</p>
      </div>
    </div>

    <!--Modify/Remove Alarms-->
    <div class="container" id="alarm_space">
      <h2>Alarms</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Alarm Name</th>
                <th>Toggle</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <!--TODO: Remove this. This is meant only to be an example.-->
              <tr>
                <td>1</td>
                <td>Some Alarm</td>
                <td><button class="btn btn-success btn-xs" id="toggle-1">ON</button></td>
                <td><button class="btn-danger btn btn-xs" id="delete-1">DELETE</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--TODO Add an alarm-->
    <div class="container">
      <h2>Add Alarm</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="form_alarm_name" class="col-sm-2 control-label">Alarm name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="form_alarm_name">
          </div>
        </div>
        <div class="form-group">
          <label for="form_alarm_date" class="col-sm-2 control-label">Starting Date</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="form_alarm_date">
          </div>
        </div>
        <div class="form-group">
          <label for="form_alarm_time" class="col-sm-2 control-label">Time</label>
          <div class="col-sm-10">
            <input type="time" class="form-control" id="form_alarm_time">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-success" id="add_alarm">Add Alarm</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>